@import url(../font/LatoLatin/latolatinfonts.css);

body {
  font-family: 'LatoLatinWeb', 'Helvetica Neue', Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.page-content {
  max-width: 40rem;
}
